<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Allert.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E05980011B6DA25D0077F8F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E05980161B6DA25D0077F8F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0C9F16E1B6FD03D002B42BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0C9F1821B6FD03D002B42BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
